
body {
  padding-bottom: 60px;
  background: #36393e; /* fallback for old browsers */
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* doesnt work without the stupid !important - badgamernl */
.bg-dark {
  background-color: #202225 !important;
}

#prog {
  width: 99.5%;
  border-radius: 5px;
}

th {
  padding-top: 5px;
  text-align: center;
  vertical-align: middle;
}

td {
    text-align: center;
    vertical-align: middle;
}

.form-check-input{
  position: relative;
  margin: 0;
}

.tablesorter {
  width: 100%;
  margin-top: 10px;
}

.tablesorter a {
  color: #737377;
}

/* disabled by badgamer dont see a need for it :3 - badgamernl */
/*navbar*/
/* .server-name {
  font-size: 1.3rem;
  vertical-align: center;
} */

.server-info {
  color: #888888;
  padding: 10px;
  background-color: rgb(102, 255, 0);
}

.dropdown-menu {
  min-width: 1rem;
}

/* disabled by badgamer dont see a need for it :3 - badgamernl */
/* .nav-tabs a{
  color: rgba(50,50,50,.5);
  font-size: 1.2rem;
  font-weight: bold;
} */

/*footer*/
.footer {
  position:fixed;
  bottom:0;
  width:100%;
  padding: 10px;
  line-height: 1;
  color: white;
  background-color: #202225;
  opacity:0.8;
}

/*debug_text*/
.debug_text {
  text-align: center;
}

/*index.php*/
.console-info {
  width: 100%;
  height: 50vh;
  padding: 10px;
  color: hsla(0,0%,100%,.7);
  background-color: hsla(218,5%,47%,.3);
  border-radius: 5px;
  border: 0;
}
.chat-info {
  width: 100%;
  height: 20vh;
  padding: 10px;
  color: hsla(0,0%,100%,.7);
  background-color: hsla(218,5%,47%,.3);
  border-radius: 5px;
  border: 0;
}
.console-container, .input-group {
  border-radius: 5px 5px 5px 5px;
}

.console-container > .input-group, #command {
  border: 0;
  border-radius: 5px 0 0 5px;
  color: hsla(0,0%,100%,.7);
  background-color: hsla(218,5%,47%,.3);
}
.console-container > .input-group, #command_button {
  border: 0;
  border-radius: 0 5px 5px 0;
  color: hsla(0,0%,100%,.7);
  background-color: hsla(218,5%,47%,.3);
}

.console-container {
  margin-top: 20px;
}

/*login*/
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-logo {
  height: 50px;
}

.login-discord {
  background-color: #7289DA;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: rgba(0, 0, 0, 0.2);
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  color: white;
  font-family: "Roboto", sans-serif;
  outline: 0;
  background:  rgba(0, 0, 0, 0.2);
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
